<main class="container my-5 mx-auto text-center">
  <h1 class="my-5">Welcome to Hyeyoung's shop!</h1>
  <p class="lead my-5">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum magnam
    suscipit animi ipsa dicta quaerat, repellendus, pariatur saepe, ad cumque
    nam esse tenetur laboriosam officia minima? Culpa, modi veritatis. Tenetur
    quo explicabo libero vero optio assumenda ullam delectus illum odio
    consequuntur veniam reiciendis, expedita exercitationem ut dolorum! Totam
    illo rem tenetur incidunt necessitatibus quae officia nostrum. Blanditiis
    ducimus veritatis, commodi tempore sed voluptatem omnis voluptatibus
    dignissimos perspiciatis alias debitis odio architecto, nisi error amet.
    Possimus labore reprehenderit ratione porro, dicta repellendus tenetur
    itaque neque. Porro molestiae vero a maxime quo natus expedita modi dolorem.
    Perspiciatis repellendus id optio exercitationem consectetur?
  </p>
  <p class="lead">
    <button
      class="btn btn-outline-success"
      style="cursor: pointer"
      routerLink="/product"
    >
      🛒 Start Shopping!
    </button>
  </p>
</main>
